@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
    --primary-color: hsl(0, 0%, 0%);
    --primary-color-alt: hsl(0, 100%, 37%);
    --second-color: #ddc247;
    --second-color-alt: hsla(46, 38%, 51%, 0.712);
    --third-color: hsl(220, 36%, 28%);
    --white-color: #ffffff;
    --white-color-alt: hsl(12, 14%, 93%);
    --dark-color: hsl(300, 100%, 0%);
  }

  
  body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    background-color: var(--white-color);
    background-image: url(logos/quad.jpg);
    background-size: cover;
    display: grid;
  }
  

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(15deg, #d8bc91 0%, #d19951 150%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.text{
    text-align: center;
}

.text {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 5rem 0 5rem;
  }
#profile {
    display: none;
    background-image: url(logos/campus.jpg);
    
}

button {
    background-color: var(--second-color-alt);
    color: linear-gradient(15deg, #d8bc91 0%, #d19951 150%);
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
}


p{
    font-weight: bold;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}
.container {
  padding: 0 2rem;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 1rem 2rem;
}

.nav-items {
  display: flex;
}
.nav-item {
  margin: 0 2rem;
}
.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(
    var(--white-color-alt),
    var(--white-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.Welcome{
    width: 800px;
}

.slogan .company-title {
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.slogan .company-slogan {
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}








@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: var(--dark-color);
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }


}
@media (min-width: 769px) {}
  header {
    padding: 1rem 5rem;
  }

  .section-1 {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding: 10rem 5rem 0 5rem;
  }
  .slogan .company-title {
    max-width: 30rem;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
  }
  .slogan .company-slogan {
    max-width: 20rem;
    font-size: 1.3rem;
  }

  .section-1 {
  background-image: url(logos/table.png);
  
  background-size: cover;
  max-width: 3000px;
  display: grid;

}